@media all and (min-width: 480px) {
  .App header a {
    text-decoration-line: none;
    padding: 5px;
    font-size: 15px;
  }

  .App form {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 320px;
  }

  .App footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .App footer p {
    font-size: 13px;
  }

  .Disclaimer {
    text-align: end;
    padding-right: 30px;
    font-size: 13px;
  }
}
